<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <display-name>Groups</display-name>
    <servlet>
        <servlet-name>groups</servlet-name>
        <servlet-class>controller.GroupsController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>groups</servlet-name>
        <url-pattern>/groups</url-pattern>
    </servlet-mapping>

    <display-name>Group</display-name>
    <servlet>
        <servlet-name>group</servlet-name>
        <servlet-class>controller.GroupController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>group</servlet-name>
        <url-pattern>/group</url-pattern>
    </servlet-mapping>

    <display-name>Student</display-name>
    <servlet>
        <servlet-name>student</servlet-name>
        <servlet-class>controller.StudentController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>student</servlet-name>
        <url-pattern>/student</url-pattern>
    </servlet-mapping>


    <display-name>StudentsReport</display-name>
    <servlet>
        <servlet-name>studentsReport</servlet-name>
        <servlet-class>controller.StudentReportController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>studentsReport</servlet-name>
        <url-pattern>/student-report</url-pattern>
    </servlet-mapping>

    <display-name>Courses</display-name>
    <servlet>
        <servlet-name>courses</servlet-name>
        <servlet-class>controller.CourseController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>courses</servlet-name>
        <url-pattern>/courses</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/sources/*</url-pattern>
    </servlet-mapping>
</web-app>